# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend
node_modules
/dist
/dist-ssr
/coverage
*.local
.vite

# Go Backend
# Binaries and overlib
erp-backend/main
erp-backend/erp-backend
erp-backend/debug
erp-backend/debug.test
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test related
*.test
*.out
coverage.txt
profile.out

# Environment / Secret
.env
.env.local
.env.*.local
!.env.example

# Editor / OS
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/
*.iws
*.iml
*.ipr
.DS_Store
Thumbs.db
*.sw?
*.bak

# Docker
.docker-compose.override.yml

# Project Specific
*.tar
*.zip
*.gz
/erp-app.tar

# Misc
.agents/
.temp/
.cache/
